global
    log stdout format raw local0
    maxconn 2000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

userlist protected
    user admin insecure-password ChangeMeClient123!

frontend http_front
    bind *:80
    http-request auth realm Protected if !{ http_auth(protected) }
    acl is_nodered path_beg /nodered
    acl is_grafana path_beg /grafana
    acl is_influx path_beg /api
    acl is_root path /
    http-request redirect location /nodered if is_root
    http-request set-path / if { path /nodered }
    http-request replace-path ^/nodered(/.*)$ \1 if { path_beg /nodered/ }
    use_backend nodered if is_nodered
    use_backend grafana if is_grafana
    use_backend influxdb if is_influx
    default_backend nodered

backend nodered
    server nodered nodered:1880 check

backend grafana
    server grafana grafana:3000 check

backend influxdb
    server influxdb influxdb:8181 check
